.megusta {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin: 10px 0px;
   font-size: 1.3rem;

   & .megusta__izq {
      display: flex;
      justify-content:space-between;
      width: 20%;
   }

   & .megusta__corazon {
      color: red;
   }

   & .megusta__der {
      width: 80%;
      display: flex;
      justify-content: flex-end;
   }
}