.posteo__cont {
   border: 2px solid rgb(209, 209, 251);
   margin: 10px;
   border-radius: 5px;
   background-color: rgb(2, 65, 65);
   color: white;
   width: 470px;
   display: flex;
   flex-direction: column;
   padding: 10px 15px;

   & .posteo__img {
      margin: 5px auto;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 4 / 5;
      object-position: center;
   }

   & .posteo__cant-gusta {
      display: flex;
      justify-content: flex-start;
      margin: 2px 0px;
   }

   & .posteo_coment {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 2px 0px;
   }

   & .posteo__coment-us {
      font-weight: bold;
      margin-right: 5px;
   }
}