@font-face {
  font-family: 'Lora';
  src: url(assets/fuentes/Lora-Italic-VariableFont_wght.ttf);
  font-weight: 100;
  font-style: italic;
}

#root {
  font-family: 'Lora';
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align:justify; */
}
