@font-face {
  font-family: 'Lora';
  src: url(assets/fuentes/Lora-Italic-VariableFont_wght.ttf);
  font-weight: 100;
  font-style: italic;
}

#root {
  font-family: 'Lora';

  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align:justify; */
}

.instagram {
  color: black;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 15px;
}

.instagram__logo {
  width: 25%;
  margin-right: 30px;
}

.carrusel {
  margin: 10px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.posteos {
  display: flex;
  flex-direction: column;
  align-items: center;
}